# This is a basic VCL configuration file for varnish.
#
vcl 4.0;
import std;
include ".all_includes.vcl";
backend default {
    .host = "${VARNISH_BACKEND_HOST}";
    .port = "${VARNISH_BACKEND_PORT}";
}